.hodiv {
  display: flex;
  justify-content: space-between;
}

.hodiv button {
  width: 40%;
}

#form {
  max-width: 400px;
  margin-left: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form button {
  background-color: #b0d5e1ab;
  border: 1px solid black;
  border-radius: 5px;
  font-size: large;
  padding: 10px 0px;
}

#entry {
  display: block;
  margin: 20px 0;
  font-size: large;
  padding: 10px;
  border-radius: 9px;
  width: 95%;
  border: 1px solid;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #e7edee;
  text-align: center;
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

#image-container {
  position: relative;
  width: 700px;
  height: 300px;
}

#handBG {
  position: absolute;
  top: 0;
  left: 0;
}

#pinky {
  position: absolute;
}

.overlayHandImages {
  position: absolute;
}

#image-container {
  flex-direction: space-between;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  body {
    display: flex;
    flex-direction: column-reverse;
  }

  #form {
    max-width: none;
    margin-left: 0;
    width: 78vw;
  }
}
